# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================

.venv/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/
*.ipynb

# ==========================
# Logs
# ==========================

logs/

# ==========================
# Outputs
# ==========================

outputs/

# ==========================
# Cache
# ==========================

cache/

# ==========================
# SQLite
# ==========================

*.db

# ==========================
# Images
# ==========================

*.png
*.jpg
*.jpeg

# ==========================
# Videos
# ==========================

*.mp4

# ==========================
# Environment
# ==========================

.env

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db
